body {
  background-color: #eeeeee;
}

ul {
  list-style-image: url('//ra9.jp/assets/pc/images/common/contents-header-menu.png')
}

dl {
  font-size: small;
}
dt {
  font-weight: bold;
}

body.index h1 {

}

body.pc h1 {
  background-color: #3366ff;
}

body.fp-d h1 {
  background-color: #cb002c;
}

body.fp-a h1 {
  background-color: #eb5505;
}

body.fp-s h1 {
  background-color: #b7bbbe;
}

body.sp-i h1 {
  background-color: #313131;
  color:white;
}

body.sp-a h1 {
  background-color: #77c159;
}

h2.ses {
  background-color: yellow;
}
h2.cv {
  background-color: orange;
}
h2.ses-cv {
  background-color: red;
}
